body {
    font-size: 11px !important;
}

#map {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.gm-svpc{
	top: -26px !important;
    border: 2px solid #57585A;
    width: 36px !important;
    height: 36px !important;
    left: -22px !important;
    border-radius: 0px 0px 4px 4px !important;
}
.gm-svpc img{
    margin-top:2px !important;
}
#gmap {
    width: 100%;
    height: 100%;
}

#olmap {
    width: 100%;
    height: 100%;
}

.leaflet-control-layers-list {
    width: 200px;
    background-color: #fff;
}

.panel .panel-heading {
    border-left: 0px solid #ccc;
    border-right: 0px solid #ccc;
}

.lay_ph111 {
    height: 25px;
}

.panel-heading {
    padding: 0;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: block;
    height: 30px;
}

    .panel-heading h5 {
        color: #5f5f5f;
        font-size: 14px;
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.lay_2ndacc {
    position: relative;
    top: -28px;
    left: 25px;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@font-face {
    font-family: 'sewer';
    src: url('font/GW_GIS_Sewer.ttf');
}

@font-face {
    font-family: 'water';
    src: url('font/GW_GIS_Water.ttf');
}

.lay_env_li {
    text-decoration: none !important;
}

    .lay_env_li a:hover, a:focus, a {
        text-decoration: none;
    }

a {
    color: #221E1F !important;
}

.ol-draw {
    border: none;
    top: 82%;
}

    .ol-draw button {
        outline: none;
    }

    .ol-draw .ol-draw-point {
        background: url(../img/point.png) no-repeat !important;
        display: inline-block !important;
        color: transparent !important;
        background-color: transparent !important;
        width: 70px !important;
        height: 70px !important;
        border: none !important;
    }

    .ol-draw .ol-draw-rectangle {
        background: url(../img/square.png) no-repeat !important;
        display: inline-block !important;
        color: transparent !important;
        background-color: transparent !important;
        width: 70px !important;
        height: 70px !important;
        border: none !important;
    }

    .ol-draw .ol-draw-circle {
        background: url(../img/circle.png) no-repeat !important;
        display: inline-block !important;
        color: transparent !important;
        background-color: transparent !important;
        width: 70px !important;
        height: 70px !important;
        border: none !important;
    }

    .ol-draw .ol-draw-polygon {
        background: url(../img/polygon.png) no-repeat !important;
        display: inline-block !important;
        color: transparent !important;
        background-color: transparent !important;
        width: 70px !important;
        height: 70px !important;
        border: none !important;
    }
 .ol-draw .ol-draw-locate {
        background: url(../img/locate.png) no-repeat !important;
        display: inline-block !important;
        color: transparent !important;
        background-color: transparent !important;
        width: 70px !important;
        height: 70px !important;
        border: none !important;
    }
    .ol-draw .ol-draw-line {
        background: url(../img/line.png) no-repeat !important;
        display: inline-block !important;
        color: transparent !important;
        background-color: transparent !important;
        width: 70px !important;
        height: 70px !important;
        border: none !important;
    }
    .ol-draw .ol-draw-locate {
        background: url(../img/locate.png) no-repeat !important;
        display: inline-block !important;
        color: transparent !important;
        background-color: transparent !important;
        width: 70px !important;
        height: 70px !important;
        border: none !important;
    }
.layer-switcher button {
    background: url(../img/layer.png) no-repeat !important;
    display: inline-block !important;
    color: transparent !important;
    background-color: transparent !important;
    width: 70px !important;
    height: 70px !important;
    border: none !important;
}

.identify-feature button {
    background: url(../img/identify.png) no-repeat !important;
    display: inline-block !important;
    color: transparent !important;
    background-color: transparent !important;
    width: 70px !important;
    height: 70px !important;
    border: none !important;
}


.ol-draw button:hover {
    text-decoration: none;
    background-color: none;
}

.ol-draw button:focus {
    text-decoration: none;
    background-color: none;
}
/*
.ol-zoom{
	display:none;
}
*/
.ol-control {
    background-color: transparent;
}

    .ol-control:hover {
        background-color: transparent;
    }



#address {
    width: 320px;
    height: 45px;
    /* left: 2.4em;
	background: #E7EDEE; */
    border: 1px solid #337ab7;
    padding: 0 10px;
    font-size: 16px;
    color: #3C5661;
    border-radius: 12px;
    position: absolute;
    z-index: 9999;
    top: 1.2em;
    left: 100px;
    outline: none;
}

.ui-widget.ui-widget-content {
    border-radius: 12px;
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .ol-draw .ol-draw-point {
        background: url(../img/point-small.png) no-repeat !important;
        width: 52px !important;
        height: 52px !important;
        border: none !important;
    }

    .ol-draw .ol-draw-rectangle {
        background: url(../img/square-small.png) no-repeat !important;
        width: 52px !important;
        height: 52px !important;
    }

    .ol-draw .ol-draw-circle {
        background: url(../img/circle-small.png) no-repeat !important;
        width: 52px !important;
        height: 52px !important;
    }

    .ol-draw .ol-draw-polygon {
        background: url(../img/polygon-small.png) no-repeat !important;
        width: 52px !important;
        height: 52px !important;
    }

    .ol-draw .ol-draw-line {
        background: url(../img/line-small.png) no-repeat !important;
        width: 52px !important;
        height: 52px !important;
    }
.ol-draw .ol-draw-locate
{
  background: url(../img/locate.png) no-repeat !important;
        width: 52px !important;
        height: 52px !important;

}
    .layer-switcher button {
        background: url(../img/layer-small.png) no-repeat !important;
        display: inline-block !important;
        color: transparent !important;
        background-color: transparent !important;
        width: 52px !important;
        height: 52px !important;
        border: none !important;
    }

    .identify-feature {
        position: absolute;
        top: 1.5em;
        right: 4.5em;
        text-align: left;
    }

        .identify-feature button {
            background: url(../img/identify-small.png) no-repeat !important;
            display: inline-block !important;
            color: transparent !important;
            background-color: transparent !important;
            width: 52px !important;
            height: 52px !important;
            border: none !important;
        }

    #address {
        width: 200px;
        height: 35px;
    }
}



/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    .ol-draw .ol-draw-point {
        background: url(../img/point-small.png) no-repeat !important;
        width: 52px !important;
        height: 52px !important;
        border: none !important;
    }

    .ol-draw .ol-draw-rectangle {
        background: url(../img/square-small.png) no-repeat !important;
        width: 52px !important;
        height: 52px !important;
    }

    .ol-draw .ol-draw-circle {
        background: url(../img/circle-small.png) no-repeat !important;
        width: 52px !important;
        height: 52px !important;
    }

    .ol-draw .ol-draw-polygon {
        background: url(../img/polygon-small.png) no-repeat !important;
        width: 52px !important;
        height: 52px !important;
    }

    .ol-draw .ol-draw-line {
        background: url(../img/line-small.png) no-repeat !important;
        width: 52px !important;
        height: 52px !important;
    }
.ol-draw .ol-draw-locate
{
  background: url(../img/locate-small.png) no-repeat !important;
        width: 52px !important;
        height: 52px !important;

}
    .layer-switcher button {
        background: url(../img/layer-small.png) no-repeat !important;
        width: 52px !important;
        height: 52px !important;
    }

    .identify-feature {
        position: absolute;
        top: 1.5em;
        right: 4.5em;
        text-align: left;
    }

        .identify-feature button {
            background: url(../img/identify-small.png) no-repeat !important;
            width: 52px !important;
            height: 52px !important;
        }

    #address {
        width: 200px;
        height: 35px;
    }
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .ol-draw .ol-draw-point {
        background: url(../img/point-small.png) no-repeat !important;
        width: 52px !important;
        height: 52px !important;
        border: none !important;
    }

    .ol-draw .ol-draw-rectangle {
        background: url(../img/square-small.png) no-repeat !important;
        width: 52px !important;
        height: 52px !important;
    }

    .ol-draw .ol-draw-circle {
        background: url(../img/circle-small.png) no-repeat !important;
        width: 52px !important;
        height: 52px !important;
    }

    .ol-draw .ol-draw-polygon {
        background: url(../img/polygon-small.png) no-repeat !important;
        width: 52px !important;
        height: 52px !important;
    }

    .ol-draw .ol-draw-line {
        background: url(../img/line-small.png) no-repeat !important;
        width: 52px !important;
        height: 52px !important;
    }
.ol-draw .ol-draw-locate
{
  background: url(../img/locate.png) no-repeat !important;
        width: 52px !important;
        height: 52px !important;

}
    .layer-switcher button {
        background: url(../img/layer-small.png) no-repeat !important;
        width: 52px !important;
        height: 52px !important;
    }

    .identify-feature {
        position: absolute;
        top: 1.5em;
        right: 4.5em;
        text-align: left;
    }

        .identify-feature button {
            background: url(../img/identify-small.png) no-repeat !important;
            width: 52px !important;
            height: 52px !important;
        }

    #address {
        width: 200px;
        height: 35px;
    }
}


/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
    .ol-draw .ol-draw-point {
        background: url(../img/point-small.png) no-repeat !important;
        width: 52px !important;
        height: 52px !important;
        border: none !important;
    }

    .ol-draw .ol-draw-rectangle {
        background: url(../img/square-small.png) no-repeat !important;
        width: 52px !important;
        height: 52px !important;
    }

    .ol-draw .ol-draw-circle {
        background: url(../img/circle-small.png) no-repeat !important;
        width: 52px !important;
        height: 52px !important;
    }

    .ol-draw .ol-draw-polygon {
        background: url(../img/polygon-small.png) no-repeat !important;
        width: 52px !important;
        height: 52px !important;
    }

    .ol-draw .ol-draw-line {
        background: url(../img/line-small.png) no-repeat !important;
        width: 52px !important;
        height: 52px !important;
    }
.ol-draw .ol-draw-locate
{
  background: url(../img/locate.png) no-repeat !important;
        width: 52px !important;
        height: 52px !important;

}
    .layer-switcher button {
        background: url(../img/layer-small.png) no-repeat !important;
        width: 52px !important;
        height: 52px !important;
    }

    .identify-feature {
        position: absolute;
        top: 1.5em;
        right: 4.5em;
        text-align: left;
    }

        .identify-feature button {
            background: url(../img/identify-small.png) no-repeat !important;
            width: 52px !important;
            height: 52px !important;
        }

    #address {
        width: 200px;
        height: 35px;
    }
}
/*---------Tablet------------*/
@media (min-device-width: 768px) and (max-device-width: 1280px) {


    .ol-draw .ol-draw-point {
        background: url(../img/point-small.png) no-repeat !important;
        width: 52px !important;
        height: 52px !important;
        border: none !important;
    }

    .ol-draw .ol-draw-rectangle {
        background: url(../img/square-small.png) no-repeat !important;
        width: 52px !important;
        height: 52px !important;
    }

    .ol-draw .ol-draw-circle {
        background: url(../img/circle-small.png) no-repeat !important;
        width: 52px !important;
        height: 52px !important;
    }

    .ol-draw .ol-draw-polygon {
        background: url(../img/polygon-small.png) no-repeat !important;
        width: 52px !important;
        height: 52px !important;
    }

    .ol-draw .ol-draw-line {
        background: url(../img/line-small.png) no-repeat !important;
        width: 52px !important;
        height: 52px !important;
    }

    .ol-draw .ol-draw-locate
    {
      background: url(../img/locate-small.png) no-repeat !important;
            width: 52px !important;
            height: 52px !important;

    }

    .layer-switcher button {
        background: url(../img/layer-small.png) no-repeat !important;
        width: 52px !important;
        height: 52px !important;
    }

    .identify-feature button {
        background: url(../img/identify-small.png) no-repeat !important;
        width: 52px !important;
        height: 52px !important;
    }

    #address {
        width: 200px;
        height: 35px;
    }
}
