body { 
  background: url(../images/img-3.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.gray-opacity{
  box-shadow: inset 3000px 0 0 0 rgba(0, 0, 0, 0.7);
}
.brand-logo {
    background-image: url(../images/aws_logo.png);
    height: 88px;
    width: 230px;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 12%;
    margin-bottom: 4%;
}
.form-control{
    background-color: transparent;
    border-radius: 0px;
    border: 0px;
    border-bottom: 2px solid white;
    color: white;
    padding-left: 38px;
}
    #inputEmail3:focus, #inputPassword3:focus {
    border-color: white;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.login-input{
    background-image: url(../images/user.png);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 19px;
}
.pwd-input{
    background-image: url(../images/pwd.png);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 16px;
}
.login-button{
    margin: 0 auto;
    text-align: center;
}
.style-button{
    border-radius: 25px;
    width: 45%;
    background-color: #3662af;
    border: 0px;
    color: white;
    margin: 5% 0;
}
    .for-pwd{
    text-align: center;
}
.for-pwd a{
    color: #fff;
    text-decoration: none;
}
.for-pwd:foucs {
    color: #fff;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.style-button:focus,.style-button:active,.style-button:visited,.style-button:hover {
    outline: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #fff !important;
    background-color: #3662af !important;
    border-color: #3662af !important;
}
.login-form{
    padding: 1% 22%;
}





/*------------------------------------------------- iPads (landscape) ----------------------------------------------------------------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
.brand-logo {
    background-image: url(../images/aws_logo.png);
    height: 88px;
    width: 230px;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 16%;
    margin-bottom: 13%;
}
    
.login-form{
    padding: 1% 15%;
}
}

/*------------------------------------------------- iPads (potrait) ----------------------------------------------------------------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
.brand-logo {
    margin-top: 26%;
    margin-bottom: 13%;
} 
.login-form{
    padding: 5% 12%;
}
.form-group{
    margin-bottom: 5%; 
}
}




/*------------------------------------------------- Phone (potrait) ----------------------------------------------------------------- */
@media only screen and (min-device-width : 300px) and (max-width : 420px) {
/* Styles */


.brand-logo {
    background-image: url(../images/aws_logo.png);
    height: 88px;
    width: 230px;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 35%;
    margin-bottom: 25%;
}
.login-form{
    padding: 10%;
}
.form-control{
    background-color: transparent;
    border-radius: 0px;
    border: 0px;
    border-bottom: 2px solid white;
    color: white;
    padding-left: 38px;
}
#inputEmail3:focus, #inputPassword3:focus {
    border-color: white;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.login-input{
    background-image: url(../images/user.png);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 19px;
}
.pwd-input{
    background-image: url(../images/pwd.png);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 16px;
}
.login-button{
    margin: 0 auto;
    text-align: center;
}
.style-button{
    border-radius: 25px;
    width: 45%;
    background-color: #3662af;
    border: 0px;
    color: white;
    margin: 5% 0;
}
.for-pwd{
    text-align: center;
}
.for-pwd a{
    color: #fff;
    text-decoration: none;
}
.for-pwd:foucs {
    color: #fff;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.style-button:focus,.style-button:active,.style-button:visited,.style-button:hover {
    outline: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #fff !important;
    background-color: #3662af !important;
    border-color: #3662af !important;
}

}

/*------------------------------------------------- phone (landscape) ----------------------------------------------------------------- */
@media only screen and (min-device-width : 500px) and (max-width : 736px) {
/* Styles */


.brand-logo {
    background-image: url(../images/aws_logo.png);
    height: 88px;
    width: 230px;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 4%;
} 
 .login-form {
   padding: 4% 15%;
}
.form-control{
    background-color: transparent;
    border-radius: 0px;
    border: 0px;
    border-bottom: 2px solid white;
    color: white;
    padding-left: 38px;
}
#inputEmail3:focus, #inputPassword3:focus {
    border-color: white;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.login-input{
    background-image: url(../images/user.png);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 19px;
}
.pwd-input{
    background-image: url(../images/pwd.png);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 16px;
}
.login-button{
    margin: 0 auto;
    text-align: center;
}
.style-button{
    border-radius: 25px;
    width: 45%;
    background-color: #3662af;
    border: 0px;
    color: white;
    margin: 5% 0;
}
.for-pwd{
    text-align: center;
}
.for-pwd a{
    color: #fff;
    text-decoration: none;
}
.for-pwd:foucs {
    color: #fff;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.style-button:focus,.style-button:active,.style-button:visited,.style-button:hover {
    outline: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #fff !important;
    background-color: #3662af !important;
    border-color: #3662af !important;
}
    

}



::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff !important;
}
