.ol-draw{
    top: 9em;
    left: 2em;
    padding: 0px;
    border: 2px solid #57585A;
    cursor: pointer;
    font-family: verdana,helvetica;
}
.ol-draw  button:hover {
    text-decoration: none;
    background-color: #f9f9f9;
}
.ol-draw  button:focus {
    text-decoration: none;
    background-color: #f9f9f9;
}
.ol-draw button {
    margin: 0px;
	border-bottom: 2px solid #57585A;
    background-color: #fff;
    font-size: 18px;
    color: #57585A;
    width: 32px;
    height: 32px;
}
.ol-draw .ol-draw-polygon {
	border-bottom: 0px solid #57585A;
    background-image: url(../img/spritesheet.png);
    background-position-x: -29px;
    background-position-y: 0px;
    background-repeat: no-repeat;
}
.ol-draw .ol-draw-circle {
    background-image: url(../img/spritesheet.png);
    background-position-x: -89px;
    background-position-y: 0px;
    background-repeat: no-repeat;
}
.ol-draw .ol-draw-rectangle {
    background-image: url(../img/spritesheet.png);
    background-position-x: -59px;
    background-position-y: 0px;
    background-repeat: no-repeat;
}
.ol-draw .ol-draw-line {
    background-image: url(../img/spritesheet.png);
    background-position-x: 0px;
    background-position-y: 0px;
    background-repeat: no-repeat;
}
.ol-draw .ol-draw-point {
    background-image: url(../img/spritesheet.png);
    background-position-x: -120px;
    background-position-y: 0px;
    background-repeat: no-repeat;
}