body { 
  background-color: #fff;
}
@font-face {
    font-family: 'sewer';
    src: url('../fonts/GW_GIS_Sewer.ttf');
}



@font-face {
    font-family: 'water';
    src: url('../fonts/GW_GIS_Water.ttf');
}

#map{
	position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.gm-svpc{
	top: -26px !important;
    border: 2px solid #fff;
    width: 36px !important;
    height: 36px !important;
    left: -22px !important;
    border-radius: 0px 0px 4px 4px !important;
	background-color: #337ab7 !important;
}
.gm-svpc img{
    margin-top:2px !important;
}
.basemapGallery {
    width: 100%;
    padding: 10px;
    overflow-y: auto !important;
    overflow-x: hidden !important;
}
.basemapGalleryNode {
    float: left;
    width: 80px;
    margin: 5px 10px 0 10px;
}

.basemapGallerySelectedNode .basemapGalleryThumbnail {
    border: 2px solid #337ab7;
    margin: 1px;
}

.basemapGalleryThumbnail {
    height: 67px;
    width: 80px;
    border: 1px solid #fff;
    margin: 1px;
    -moz-box-shadow: 0px 0px 7px #337ab7;
    -webkit-box-shadow: 0px 0px 7px #337ab7;
    box-shadow: 0px 0px 7px #337ab7;
}
.selected {
	-moz-box-shadow: 4px 4px 4px #337ab7;
    -webkit-box-shadow: 4px 4px 4px #337ab7;
	box-shadow: 4px 4px 4px #337ab7;
}
.basemapGalleryLabelContainer {
    background-color: transparent;
    text-align: center;
    width: 100%;
    max-height: 32px;
    overflow: hidden;
    display: block;
	word-break: break-word;
	font-size: 11px;
    padding: 4px;
}
#gmap {
    width: 100%;
    height: 100%;
}

#olmap {
    width: 100%;
    height: 100%;
}
#tableGrid
{
position: absolute;
bottom:0px;
}
#list2
{
	width: 100%;
    height: 250;
}
/*
.head-container{
	padding-right:0px;
}
*/
						/*--------------------------------header--------------------------------------*/
.main-header{
	margin-right:0px !important;
}
.navbar-default {
    background-color: #009688;
    border:0px;
	border-radius:0px;
	opacity: 0.95;
    z-index: 1;
}
.top-icons li{
	width: 70px;
	height: 55px;
    text-align: center;
}
.hover-color li:hover{
	background-color:#80CBC4;
}
.hover-color li:active{
	background-color:#80CBC4;
}
.hover-color li:visited{
	background-color:#80CBC4;
}
.search-btn{
	float:left;
}
.grid-btn{
	float:left;
}
.searchicn{
	display:inline;
}
.search-box{ 
    background-color: #ccc;
    border: 0px;
    border-bottom: 1px solid white;
    border-radius: 0px;
    box-shadow: none;
    color: white;

}
.search-box:focus{
    background-color: #ccc;
    border: 0px;
    border-radius: 0px;
    box-shadow: none;
}
/*.main-searchbox{
	width:28%;
}*/
#searchbox{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    background-color: #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
}
.form-group{
	width:100%;
}
.ang-logo img{
    float: left;
    width: 120 px;
    height: 50px;
}
::-webkit-input-placeholder {
   color: #fff !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff !important;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff !important;  
}

:-ms-input-placeholder {  
   color: #fff !important;  
}
.navbar-brand{
    padding-top: 0px;
}
.mainiconsdiv-right{
    width: 90px;
    margin-left: 10px;
    height: 375px;
    position: fixed;
    background: #666;
    z-index: 5;
    top: 75px;
    border-radius: 10px;
    opacity: 0.4;
    right: 10px;
}
.main-icons{
    width: 80px;
    height: 384px;
    position: fixed;
    z-index: 5;
    top: 80px;
    border-radius: 10px;
    right: 12px;
    padding: 10px 0 10px 0;
}
.main-icons ul{
    list-style-type: none;
    padding-left: 0px;
}
.main-icons ul li{
    float: left;
    width: 43%;
    height: 35px;
    text-align: center;
    margin-bottom: 10px;
    background-color: #00aeef;
    border-radius: 25px;
    margin-right: 5px;
}
.main-icons ul li img{
    padding-top: 5px;
}
#admin{
    position: fixed;
    top: 10px;
    right: 10px;
    width: 2.5%;
}
							/*--------------------------------header--------------------------------------*/
							

							/*--------------------------------Layer-modal--------------------------------------*/
#layerpopup{
	display:none;
	position: fixed;
    right: 8%;
    top: 11%;
	width:250px;
	background-color:#fff;
	padding:5px;
	z-index:10;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
}
#RadioButton{
                display:none;
                position: fixed;
                left:2px;
                top:56px;
                width:250px;
                background-color:#fff;
                padding:5px;
                z-index:10;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
}

#closedRadio{
                display:inline;
                float:right;
}              

.layer-modal-content{
	border-radius:0px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #337ab7;
    border: 0px;
    border-radius: 0px;
    color: white;
	height: 32px;
	padding: 5px;
	font-size: 14px;
}
.layer-tabs{
	width:40%;
	text-align:center;
}
.nav-tabs {
    border-bottom: 0px;
    display: flex;
    padding: 10px;
}
.nav-tabs>li {
    flex: 1;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #87bdea;
	color:white;
	border-radius:0px;
}
.nav-tabs>li>a {
    margin-right: 0px;
    line-height: 1.42857143;
    border: 1px solid #337ab7;
    border-radius: 0px !important;
	height: 32px;
	padding: 5px 0px;
}
.header-layer{
	display:inline;
	color: #337ab7;
	font-weight: bold;
	padding: 10px 8px;
}
.layer-tab-contents{
	margin-top:0%;
}
.layer-header{
	margin-bottom:8px;	
}	
.layer-footer{
	padding: 10px;
	border-top: 1px solid #337ab7;
	text-align: right;
}
.tab-pane{
	padding-top: 10px;
	border-top: 1px solid #337ab7;
	max-height: 230px;
    overflow-y: auto;
	overflow-x: hidden;
}
.btn-primary{
	padding: 5px 10px;
}

.btn-grid{
	padding: 5px 5px;
}
							/*--------------------------------Layer-modal--------------------------------------*/
							
							/*--------------------------------draw-popup--------------------------------------*/
#drawpopup{
	display:block;
	position: fixed;
    right: 8%;
    top: 11%;
	width:285px;
	height:110px;
	background-color:#fff;
	padding:5px;
	z-index:10;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
}
.drawpopup-header{
	display: inline;
    color: #337ab7;
    font-weight: bold;
    padding: 10px 8px;
}	
.draw-body ul li{
	display:inline;
	width:25px;
	height:25px;
}							
.draw-body ul li a{
	padding:15px;
}
.draw-body ul{
	padding-left:0px;
	padding-top:2%;
}	
.draw-body{
	margin-top:10%;
}
#closedraw{
	display:inline;
	float:right;
}						
						
							/*--------------------------------draw-popup--------------------------------------*/		
/*--------------------------------------------------redline-popup------------------------------------------------------------------------*/
#redlinepopup{
	display:block;
	position: fixed;
    right: 8%;
    top: 11%;
	width:285px;
	height:110px;
	background-color:#fff;
	padding:5px;
	z-index:10;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
}
.drawpopup-header{
	display: inline;
    color: #337ab7;
    font-weight: bold;
    padding: 10px 8px;
}	
.draw-body ul li{
	display:inline;
	width:25px;
	height:25px;
}							
.draw-body ul li a{
	padding:15px;
}
.draw-body ul{
	padding-left:0px;
	padding-top:2%;
}	
.draw-body{
	margin-top:10%;
}
#closedraw{
	display:inline;
	float:right;
}						
						
/*--------------------------------------------------------------redline-popup-----------------------------------------------------------------*/		
                            /*--------------------------------toggle-switch--------------------------------------*/
							
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  float: right;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #337ab7;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}	

.ol-zoom .ol-zoom-in {
    margin: 0px;
    border-radius: 4px 4px 0 0;
    font-size: 18px;
    background-color: #00aeef !important;
    color: #fff;
    border-bottom: 2px solid #fff;
    width: 35px !important;
    height: 35px !important;
    border-radius: 25px !important;
}
.ol-zoom .ol-zoom-out {
    margin: 0px;
    border-radius: 0;
    background-color: #00aeef !important;
    color: #fff;
    border-bottom: 2px solid #fff;
    width: 35px !important;
    height: 35px !important;
    border-radius: 25px !important;
}
.gm-svpc {
    top: -18px !important;
    border: 0px;
    width: 35px !important;
    height: 35px !important;
    left: -21px !important;
    border-radius: 25px !important;
    background-color: #00aeef !important;
}
.ol-zoom {
    bottom: 76px;
    right: 24px;
    padding: 0px;
    border: 0px !important;
    cursor: pointer;
    font-family: verdana,helvetica;
}











							/*--------------------------------toggle-switch--------------------------------------*/	

.layer-label {
    position: relative;
    float: left;
    width: 60%;
    margin-left: 10px;
	font-size: 14px;
    color: #337ab7;
	padding-top:2px;
}
.layer-list{
	padding-left: 4px;
}							
.layer-list li{
	list-style: none;
    display: block;
    margin: 4px auto;
    width: 90%;
    height: 28px;
    border-bottom-color: #337ab7;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
}

							/*----------------------------------Mobile view------------------------------------*/
/* potrait */							
@media only screen and (min-device-width: 320px) and (max-device-width: 479px) {
	
	.top-icons{
		text-align:center;
	}
	.top-icons li{
		display:inline; /*IE7*/
		*zoom:1; /*IE7*/
		display:inline-block;
		width:auto;
	}

	.head-container{
		height:62px;
	}
	.form-control{
		width:80%;
		display:inline;
	}
	.close-search{
		padding-left:5%;
	}
	.main-searchbox {
		width: auto; 
	}
	.top-icons{
		margin: 0 auto;
		margin-top: 7px;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border:none;
		box-shadow:none;
	}
	.layer-modal-pos {
		position: fixed;
		top: 58px;
		left: -8px;
	}
	.mobile-hover li a:hover{
		background-color:#ccc !important;
	}
	.mobile-hover li a:active{
		background-color:#ccc !important;
	}
	.mobile-hover li a:visited{
		background-color:#ccc !important;
	}
	#layerpopup {
		display: block;
		position: fixed;
		left: 2px;
		top: 64px;
		width: 60%;
		padding: 5px;
	}
	.tab-pane{
		padding-top: 10px;
		border-top: 1px solid #337ab7;
		max-height: 100px;
		overflow-y: auto;
		overflow-x: hidden;
	}
}
/* potrait */	
/* landscape */	

@media only screen and (min-device-width: 480px) and (max-device-width: 599px) {
	#layerpopup {
		display: block;
		position: fixed;
		left: 2px;
		top: 64px;
		width: 34%;
		padding: 5px;
	}
	.top-icons{
		text-align:center;
	}
	.top-icons li{
		display:inline; /*IE7*/
		*zoom:1; /*IE7*/
		display:inline-block;
		width:auto;
	}
	.head-container{
		height:62px;
	}
	.form-control{
		width:80%;
		display:inline;
	}
	.close-search{
		padding-left:5%;
	}
	.main-searchbox {
		width: auto; 
	}
	.tab-pane{
		padding-top: 10px;
		border-top: 1px solid #337ab7;
		max-height: 100px;
		overflow-y: auto;
		overflow-x: hidden;
	}
    .ang-logo img{
        float: left;
        width: 90 px;
        height: 40px;
    }

}  
/* potrait */	
							/*----------------------------------Mobile view------------------------------------*/
                            /*----------------------------------Tab view------------------------------------*/

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .top-icons li {
        width: 55px;
        height: 55px;
        text-align: center;
        }
    .main-searchbox{
	   width:34%;
    }
      .ang-logo img{
          width: 90px;
          height: 45px;
      } 
            #layerpopup,#drawpopup {
          top:60px !important;
      } 
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
      /*.main-searchbox {
        width: 45%;
      }*/
          #drawpopup {
        top:8%;
        }

}


                            /*----------------------------------tab view------------------------------------*/
.modal-backdrop.in{
	opacity:0;
}

/*----------------------------------------------------------Galaxy-tab2 view-------------------------------------------------------------------*/
 @media only screen and (device-width : 1024px) and (orientation : landscape){
    .top-icons li {
        width: 55px;
        height: 55px;
        text-align: center;
        }
    #drawpopup {
        top:10%;
        }
    .search-box {
        width: 25%;
    }
     #admin {
        position: fixed;
        top: 10px;
        right: 10px;
        width: 35px;
     }
     #layerpopup, #drawpopup, #redlinepopup {
        position: fixed;
        right: 11%;
        top: 12%;
     }
}
 /* Portrait */
@media only screen 
  and (min-device-width: 600px) 
  and (max-device-width: 1000px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
      
    head-container {
    height: 52px;
      }  
      
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border: none !important;
     } 
     .form-control {
        width: 88%;
        display: inline;
      }
      .navbar-form{
          margin-top: 5px;
      }
      .navbar-right {
        float: right!important;
        margin-right: -15px;
      }
      .top-icons li{
		display:inline; /*IE7*/
		*zoom:1; /*IE7*/
		display:inline-block;
		width:auto;
	   }
      .ang-logo img {
        display: none;
      }
      #searchbox{
          /*width: 42%;*/
          margin-right: 0px;
          float: left;
      }
      .navbar-default .navbar-nav>li>a {
        color: #777;
        padding: 11px;
        padding-top: 14px;
      }
    .main-searchbox {
        width: 100%;
        margin: 0px;
    }
      #layerpopup,#drawpopup {
          top:80px !important;
      } 
      #admin {
        position: fixed;
        top: 10px;
        right: 10px;
        width: 5.5%;
    }
      #layerpopup, #drawpopup, #redlinepopup {
        position: fixed;
        right: 18%;
        top: 8%;
      }
}

/*-----------------------------------------------------------Galaxy-tab2 view------------------------------------------------------------------*/
.modal-backdrop.in{
	opacity:0;
}


.info-window-container{
    position: absolute;
    max-height: 250px;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    box-shadow: 0 0 0.75em #777777;
    -webkit-box-shadow: 0 0 0.75em #777777;
    overflow:hidden;
    display:none;
    width: 225px;
 }   
 .info-window-header{
	height: 32px;
	background-color: #337ab7;
	color: white;
	font-size: 14px;
	font-weight: 500;
	width: 100%;
	}
.info-window-anchor {
    background: #F7F7F7;
    display: block;
    height: 16px;
    position: absolute;
    width: 16px;
    z-index: 0;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    box-shadow: 0 0 0.75em #777777;
    -webkit-box-shadow: 0 0 0.75em #777777;
}
.info-window-anchor.top {
    background: #444;
    display: block;
    left: 50%;
    top: -8px;
    margin-left: -8px;
}
.info-window-anchor.bottom {
    display: block;
    left: 50%;
    margin-left: -8px;
    bottom: -7px;
}

.info-window-anchor.right {
    display: block;
    right: 8px;
    top: 50%;
    margin-top: -8px;
}

.info-window-anchor.left {
    display: block;
    left: 0px;
    margin-top: -8px;
    top: 50%;
}

.info-window-anchor.topLeft {
    background: #444;
    display: block;
    left: 6px;
    top: -7px;
}

.info-window-anchor.topRight {
    background: #444;
    display: block;
    right: 5px;
    top: -7px;
}

.info-window-anchor.topRight {
    background: #5491B8;
    display: block;
    right: 5px;
    top: -7px;
}

.info-window-anchor.bottomRight {
    display: block;
    right: 5px;
    bottom: -7px;
}

.info-window-anchor.bottomLeft {
    display: block;
    left: 5px;
    bottom: -7px;
}
.info-window-content {
	padding: 8px;
	background-color: #F7F7F7;
	color: #333333;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	max-height: 200px;
	overflow: auto;
}
.info-window-content .hzLine {
    border: none;
    border-top: 1px solid #333333;
    margin-top: 6px;
    margin-bottom: 6px;
}
.info-window-content.header{	
    font-weight: bold;
	padding:0px;
}

.info-window-content.attrTable {
    border-collapse: collapse;
}
.info-window-content .attrTable td.attrName {
    color: #888888;
    padding-right: 5px;
}
.info-window-content .attrTable td {
    padding: 2px;
    padding-bottom: 5px;
}
.info-window-close-button{
	width: 32px;
	height: 32px;
	float: right;
	font-size: 22px;
	font-weight: 300;
	text-align: center;
	cursor:pointer;
}

/*.navbar-default {
    background-color: #24af8d;
    border: 0px;
    border-radius: 0px;
    opacity: 0.95;
    z-index: 1;
}*/


/* measurement css start */
#measurementpopup{
	display:block;
	position:fixed;
	left:0%;
	top:20%;
	width:285px;
	height:110px;
	background-color:#45b189;
	padding:5px;
	z-index:10;
}
#closemeasurement{
	display:inline;
	float:right;
}	
.cssColor{
	color: white;
}	
/* measurement css start */


/* GO TO X Y STARTS */
#gotoxypopup{
	display:block;
	position:fixed;
	left:0%;
	top:20%;
	width:285px;
	height:170px;
	background-color:#45b189;
	padding:5px;
	z-index:10;
}
#closegotoxy{
	display:inline;
	float:right;
}
/* GO TO X Y ENDS */